.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0 auto; /* Add this line to center the container horizontally */
}

#title1 {
    font-size: calc(50vw / 10); /* Adjust the divisor (10) to control the font size */
    margin: 0 20px; /* Add this line to have 20px free on each side */
    margin-bottom: 20px;
    text-align: center;
    position: fixed; /* Add this line to position the button */
    top: 0; /* Add this line to align the button at the bottom */
}

#btn {
    width: calc(100% - 40px); /* Add this line to make the button as wide as the screen with 20px free on each side */
    padding: 20px; /* Add this line to set the padding */
    position: fixed;
    margin-bottom: 20px;
    bottom: 0;
    font-size: x-large;
}

#textbox1 {
    padding: 10px;
    width: fit-width;
    height: fit-width;
    width: calc(100% - 40px);
    text-align: center;
    border-color: #00000000;
    font-size: calc(8vw + 2vh); /* Auto-adjust font size based on width and height */
}

#textbox2 {
    padding: 10px;
    width: fit-width;
    height: fit-width;
    width: calc(100% - 40px);
    text-align: center;
    border-color: #00000000;
    font-size: calc(8vw + 2vh); /* Auto-adjust font size based on width and height */
}
